* {
    border: 1px solid black;
}

h1 {
    font-size: 30px;
}

body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 4fr;
}

aside {
    color: white;
    background-color: #1992d4;
}

header {
    background-color: #ffffff;
}

#content-grid {
    background-color: #e2e8f0;
}

.card,
.side-card {
    background-color: #ffffff;
}

aside nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: x-large;
}

#search-and-profile {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#intro-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#intro-bar #avatar-welcome {
    display: flex;
    align-items: center;
}

#intro-bar #actions {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

#content-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#projects {
    margin: 0 20px 0 20px;
}

#projects-grid {
    display: grid;
    grid-gap: 20px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}