:root {
    --projects-color: #ffbd03;
    --todos-color: #5adbb5;
    --notes-color: #c798cf;
    --nav-bar-color: #1992d4;
    --card-color: white;
    --backdrop-color: #e2e8f0;
    --dim-p-font-color: rgba(0, 0, 0, 0.711);
}

h1 {
    font-size: 30px;
}

h1,
h2,
h3 {
    margin: 0;
}

button {
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

hr {
    /* fixes flex influence on hr element*/
    margin-left: 0;
    margin-right: 0;
}

.side-card p,
.card p {
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 4fr;
    background-color: var(--backdrop-color);
}

/* left-side */

aside {
    color: white;
    background-color: var(--nav-bar-color);
    white-space: nowrap;
}

aside nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: x-large;
    padding: 0 15px 10px 15px;
}

aside nav i {
    padding-right: 15px;
}

aside>h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 10px;
}

aside>h1 i {
    padding-right: 10px;
}

/* header content */

header {
    background-color: var(--card-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 10px 30px 15px 30px;
}

#search {
    display: flex;
    align-items: center;
    gap: 15px;
}

#search-field {
    flex: 1;
    border-radius: 15px;
    height: 30px;
    border: none;
    background-color: var(--backdrop-color);
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#intro-bar {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    gap: 0px 15px;
}

#intro-bar img {
    grid-row: 1/3;
}

#search-btn {
    background: none;
    border: none;
}

#search-field {
    padding-left: 15px;
}

.medium-profile-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.small-profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#actions button {
    width: 100px;
    height: 40px;
    font-size: 15px;
}

#notes-btn {
    background-color: var(--notes-color);
}

#todos-btn {
    background-color: var(--todos-color);
}

#projects-btn,
#add-project-btn,
#undo-last-action,
#add-projects-grid-col-space,
#remove-projects-grid-col-space {
    background-color: var(--projects-color);
}

/* projects grid content */

#content-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px 15px;
    gap: 15px;
}

#projects {
    margin: 0 20px 0 20px;
}

#projects-grid {
    display: grid;
    gap: 15px 15px;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: min-content;
    grid-auto-flow: row;
}

.grid-header {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    gap: 10px;
}

#add-project-btn,
#undo-last-action,
#add-projects-grid-col-space,
#remove-projects-grid-col-space {
    width: 50px;
    height: 27.2px;
}

#projects>h2,
#announcements>h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.card,
.side-card {
    background-color: var(--card-color);
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px 20px 20px max(20px, 4%);
}

.card {
    background: linear-gradient(to right,
            var(--projects-color) 0%,
            var(--projects-color) 2.5%,
            var(--card-color) 2.5%,
            var(--card-color) 100%);
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
}

.card p {
    color: var(--dim-p-font-color);
}

.top-right-card-actions {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.bottom-right-card-actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 15px;
}

.card-actions i {
    cursor: pointer;
}

/* right-side content */

#side-cards {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 15px 15px;
}

#side-cards>div {
    display: flex;
    flex-direction: column;
}

.side-card {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

#trending-card {
    gap: 15px;
}

.hot-trend {
    display: flex;
    align-items: center;
    gap: 15px;
}